:root {
  --p-color: #eeeeee;
  --s-color: #7f7b82;
}

@media only screen and (max-width: 1024px) {
  main {
    padding: 0 30px !important;
  }
  .blog_content {
    flex-direction: column;
    .blog_list {
      width: 100% !important;
      .blog_item {
        max-width: 100%;
      }
    }
  }

  .blog_sup {
    width: 100% !important;
  }
}

@media only screen and (max-width: 450px) {
    .hero_img {
        height: 400px !important;
    }
  main {
    padding: 0 10px !important;
  }
  .blog_content {
    padding: 15px !important;
    .blog_item {
      padding: 15px !important;
    }
  }
  .hero_title {
    p {
      display: flex !important;
      flex-direction: column !important;
      align-items: center !important;
    }
  }
}

@media (max-width: 375px) {
  body {
    min-width: 375px !important;
  }
}

body {
  display: flex;
  flex-direction: column;

  max-width: 100vw !important;

  font-family: "Oswald", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 200 !important;
  font-style: normal !important;

  header {
    display: flex !important;
    justify-content: space-between;
    background-color: #050404;
    color: var(--p-color);
    padding: 10px 15px !important;
    max-width: 100% !important;

    nav {
      display: flex;
      gap: 20px;

      a {
        color: white;
      }
    }
  }

  main {
    max-width: 100vw !important;
    padding: 0 40px;
    background-color: var(--p-color) !important;

    .content {
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      max-width: 100% !important;
      .sub-content {
        background-color: white;
        .hero_title {
          display: flex !important;
          flex-direction: column;
          align-items: center;
          padding: 50px;
          gap: 15px;
          h1 {
            text-align: center;
            width: fit-content;
            font-size: 50px;
            font-weight: 400;
          }
          p {
            font-size: 16px;
            font-weight: 400;
          }

          span {
            padding: 2px 10px;
            background-color: #050404;
            color: white;
            width: fit-content;
          }
        }

        .hero_img {
          color: var(--p-color);
          background-image: url("../images/hero_image.jpg");
          background-size: cover;
          background-position: center;
          height: 800px;

          display: flex !important;
          flex-direction: column;
          justify-content: center;
          padding: 15px;
          gap: 15px;

          p {
            font-size: 20px;
            font-weight: 300;
            margin: 5px 0;
          }

          h1 {
            font-size: 40px;
            font-weight: 400;
          }

          button {
            width: fit-content;
            border: none !important;
            background: var(--p-color);
            color: #050404;
            padding: 10px 12px;
            font-size: 10px;
            font-weight: 300;
            border-radius: 3px;
          }

          button:hover {
            background-color: #050404;
            color: var(--p-color);
          }
        }
      }

      .blog_content {
        display: flex !important;
        gap: 30px;
        padding: 30px;
        display: flex;
        background-color: var(--p-color);


        .blog_list {
          display: flex;
          flex-direction: column;
          gap: 50px;
          width: 75%;

          .blog_item {
            padding: 30px;
            display: flex !important;
            flex-direction: column;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            gap: 20px;
            .blog_title {
              display: flex !important;
              flex-direction: column;
              align-items: center;
              gap: 10px;

              img {
                width: 100%;
              }
            }
            h2 {
              font-size: 20px;
              font-weight: 400;
            }
            h3 {
              font-size: 16px;
              font-weight: 300;
            }
            p {
              font-family: "Poppins", sans-serif !important;
              font-size: small;
              font-weight: 300;
            }
          }

          .blog_intercation {
            display: flex !important;
            justify-content: space-between;

            .like {
              display: flex !important;
              border: 1px solid black;
              align-items: center;
              padding: 10px;
              gap: 5px;
            }

            .replies {
              display: flex !important;
              background-color: #050404;
              color: white;
              align-items: center;
              padding: 10px;

              span {
                background-color: #f3f3f3;
                color: #050404;
                padding: 3px 10px;
                margin: 0 3px;
              }
            }
          }

          .pbli_by {
            display: flex;
            align-items: center;
            gap: 100px;
            padding: 15px 0;
            border-top: 1px solid var(--s-color);

            img {
              width: 10%;
            }
            .pr {
              display: flex;
              flex-direction: column;
              gap: 30px;
              span {
                font-size: 20px;
                font-weight: 600;
              }
            }
          }
        }

        .blog_sup {
          display: flex;
          flex-direction: column;
          gap: 20px;
          width: 30%;

          .blog_sup_title {
            padding: 10px;
            background-color: #050404;
            color: #f3f3f3;
          }
          .blog_sup_title1 {
            padding: 10px 0;
          }

          .profile {
            display: flex !important;
            flex-direction: column;
            justify-content: end;
            gap: 20px;
            color: #f3f3f3;
            padding: 15px;
            background-image: url("../images/profile.jpg");
            background-size: cover;
            background-position: center;
            height: 300px;
          }

          .popular_post {
            background-color: white;
            hr {
              /* margin: 0; */
              width: 100%;
              border: 1px solid #ddd;
            }
            .popular_post_item {
              display: flex;
              align-items: center;
              padding: 10px;
              gap: 10px;
            }
            img {
              width: 20%;
            }
          }

          .advertise {
            background-color: white;
            max-width: 100%;

            .ads_content {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 200px;
              padding: 10px;
              text-align: center;
              background-color: gainsboro;
              margin: 15px;
            }
          }

          .tag {
            background-color: white;
            ul {
              display: flex;
              align-items: center;
              flex-wrap: wrap;
              padding: 5px;
              display: flex;
              gap: 5px;
            }
            li {
              max-height: fit-content;
              width: 30px !important;
              background-color: var(--p-color);
              color: #050404;
              min-width: fit-content;
              font-size: small;
            }

            li:first-child {
              color: var(--p-color);
              background-color: #050404;
              padding: 5px;
            }
          }

          .inspiration {
            background-color: white;
            .inspi_img {
              display: flex;
              gap: 8px;
              padding: 8px;
              flex-wrap: wrap;
              justify-content: center;
            }
            img {
              width: 48% !important;
            }
          }

          .social {
            background-color: white;
            .social-items {
              display: flex;
              gap: 5px;
              padding: 10px;
            }
          }

          .subscribe {
            background-color: white;
            .subscribe_content {
              display: flex;
              flex-direction: column;
              padding: 15px;
              gap: 10px;

              form {
                display: flex;
                flex-direction: column;
                gap: 10px;

                input {
                  padding: 10px;
                }
                button {
                  padding: 10px;
                  color: white;
                  background-color: #e26d5a;
                  border: none !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

footer {
  display: flex !important;
  flex-direction: column !important;
  gap: 20px !important;
  padding: 30px !important;
  background: lightgrey;
  max-width: 100% !important;

  .btn_to_top {
    display: flex !important;
    align-items: center !important;
    gap: 5px !important;
  }

  .btn_up {
    padding: 15px;
    background: #050404;
    color: var(--p-color);
    width: fit-content;
  }

  button {
    border: none !important;
    background: none !important;
    color: var(--p-color);
  }
}
